/*font*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Pacifico&display=swap');

/*couleur de fond*/
html{
    background-color: rgba(99, 187, 229, 0.17);
}

/*formulaire*/
form{
    background-color: rgba(255, 255, 255, 0.42);
    box-shadow: 0px 0px 15px grey;
    position: absolute;
    top: 28%;
    left: 30%;
}

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 p {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 input[type=text],.form-style-1 input[type=password],.form-style-1 input[type=date]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,.form-style-1 input[type=password]:focus, .form-style-1 input[type=date]:focus{
    -moz-box-shadow: 0 0 8px #96dfcb;
    -webkit-box-shadow: 0 0 8px #96dfcb;
    box-shadow: 0 0 8px #96dfcb;
    border: 1px solid #96dfcb;
}

.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #73ad9a;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    cursor:pointer;
}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #73ad9a;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    cursor:pointer;
}

/*image*/
img{
    position: absolute;
    top: 0%;
    right:10%;
    z-index: 0;
}


h1{
    font-family: 'Bree Serif', serif;
    position: absolute;
    top: 3%;
    left: 10%;
    font-size: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(#96dfcb), to(#6b6fb8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*footer*/
footer{
    background-color: white;
    position: absolute;
    bottom: 0%;
    color: #966bb8;

}

footer a:hover {
    text-decoration: underline;
    color:#966bb8;
}

footer a:visited {
    color: #966bb8;
}